{% extends "base.html" %}
{% block content %}

<h2>Courses</h2>

<a href="/add-course">➕ Add Course</a>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Duration (Months)</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th>
    </tr>

    {% for c in courses %}
    <tr>
        <td>{{ c[0] }}</td>
        <td>{{ c[1] }}</td>
        <td>{{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td>{{ c[4] }}</td>
        <td>
            <a href="/edit-course/{{ c[0] }}">Edit</a> |
            <a href="/delete-course/{{ c[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}